.image-container {
  position: relative;
  text-align: center;
  color: white;
  height: 200px;
}

.top-right {
  position: absolute;
  top: 165px;
  right: 130px;
}

.head1 {
  font-size: 45px;
  font-weight: bolder;
}

.head2 {
  font-size: 20px;
}

.shop-div {
  padding-top: 40px;
}
