.toggle-div {
  padding-top: 100px;
  position: relative;
  margin: auto;
  left: 40%;
  width: 'fit-content';
}

.list {
  padding-top: 20px;
  padding-left: 40px;
}

.sort-div {
  padding-bottom: 40px;
  position: relative;
  font-size: 15px;
  width: 250px;
}

.sel-pro-div {
  height: 30px;
  width: 200px;
  font-size: 15px;
}
