.header {
  position: relative;
  height: 80px;
  color: white;
  padding: 30px;
  box-sizing: border-box;
  background-color: #3f51b5;
  display: block;
  min-width: 700px;
}

.nav-title {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  margin: 0px;
  float: left;
}

.nav-list > ul {
  float: left;
  list-style: none;
  padding: 0px;
}

.nav-list > ul li {
  float: left;
  color: rgb(255, 255, 255);
  padding: 12px;
  margin: 5px;
  font-size: 13px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.search {
  top: 25%;
  right: 20px;
  width: 30%;
  height: 30%;
  padding: 10px 355px 10px 260px;
}

/* .nav-list1 {
  padding: 10px;
} */
