.address-div {
  position: relative;
  top: 30px;
}

.or-div {
  text-align: center;
  font-size: large;
  padding-top: 30px;
}

.sel-div {
  position: relative;
  width: 800px;
  left: 20%;
}

.add-div {
  padding-top: 0px;
}
