.cartdiv {
  position: relative;
  left: 50px;
  top: 50px;
}

.cartdiv > h2 {
  position: relative;
  left: 400px;
  top: 43px;
  margin-top: 2px;
  font-size: 2rem;
}

.cartdiv > p {
  position: relative;
  left: 400px;
  top: 42px;
  margin-top: 2px;
  font-size: 0.8rem;
}

.cartdiv > .price {
  color: red;
  position: relative;
  left: 400px;
  font-size: 18px;
  font-weight: bold;
  top: 60px;
}

.cartdiv > img {
  position: absolute;
  top: 30px;
  left: 100px;
  width: 200px;
}
